{% extends 'base.html' %}

{% block main_container %}
	
	<div class="main_container">
		{% for info in the_info %}
			<div class="grand_book" data-id_book="{{ info[0] }}">
				<div class="grand_book_img">
					<img src="static/img/books/{{ info[12] }}" />
				</div>
				<div class="grand_book_info">
					<div id="title">{{ info[1] }}</div>
					<div class="stars_container">
						<div id="i-stars"> {{ info[9] }}</div>
						Liczba ocen: {{ info[8] }}
					</div>
					<div class="i-shop">
						Możesz kupić książke już za <span class="i-price">{{ info[7] }} zł</span>
						<a class="link_clear" href="/buy_new-action={{ info[0] }}"><button class="buy_button">Kup</button></a>
					</div>
					<div id="info_0">
						<table>
							<tr>
								<td>Autor:</td><td>{{ info[3] }} {{ info[4] }}</td>
							</tr>
							<tr>
								<td>Wydawnictwo:</td><td>{{ info[5] }}</td>
							</tr>
							<tr>
								<td>Rok wydania:</td><td>{{ info[6] }}</td>
							</tr>
							<tr>
								<td>Gatunek:</td><td>{{ info[2] }}</td>
							</tr>
						</table>
					</div>
				</div>
				<div class="clear"></div>
				<div class="book_info">
					{{ info[13] }}<br />
					{{ info[14] }}<br />
				</div>
			</div>
		{% endfor %}
	</div>
	<script type="text/javascript" src="static/javascript/fun_info.js"></script>
	<script type="text/javascript" src="static/javascript/fun_home.js"></script>
{% endblock %}