{% extends 'base.html' %}

{% block main_container %}

	<div class="main_container">
		<div id="menu_sort">
			<button class="button_sort" id="b_sort0">Najnowsze</button>
			<button class="button_sort" id="b_sort1">Najlepiej oceniane</button>
			<button class="button_sort" id="b_sort2">Przygodowe</button>
			<button class="button_sort" id="b_sort3">Fantasy</button>
			<button class="button_sort" id="b_sort4">Historyczne</button>
			<button class="button_sort" id="b_sort5">Horror</button>
			<button class="button_sort" id="b_sort6">Bajki</button>
			<button class="button_sort" id="b_sort7">Kulinaria</button>
		</div>
		<div id="books_container">
		
			{% for k in the_books %}
				<div class="book_box" id="book_{{ k[0] }}" data-sort="{{ k[0] }}">
					<div class="img_book">
					</div>
					<div class="book_options">
						<div class="book_title">{{ k[1] }}</div>
						<a href="/book_info{{ k[0] }}"><button  class="book_box_button" id="button_info">Info</button></a>
						<a href="/buy_new"><button class="book_box_button"id="button_buy">Kupuj</button></a>
					</div>
					<div class="stars">{{ k[3] }}</div>
					<div class="type">{{ k[2] }}</div>
				</div>
			{% endfor  %}
		</div>
	</div>
	<script type="text/javascript" src="static/javascript/fun_home.js"></script>
	
{% endblock %}