{% extends 'base.html' %}

{% block main_container %}
	<div class="main_container">
		<header>
			<div id="w-title">
				<h1>Portfel</h1>
				<h3>Saldo: {{ the_cash }} zł </h3>
			</div>
		</header>
		{% block new_transaction %}
		{% endblock %}
		<div class="w-container_1">
			Aby doładowaś stan swojego portwela Wpłać na podany niżej rachunek bankowy, nie zapominając wtytule wpisać swojej nazwy użytkownika oraz ID.
			<table class="s-table">
				<tr>
					<td>Nazwa rachunk:</td>
					<td>Ksiągarnia Internetowa</td>
				</tr>
				<tr>
					<td>Adres:</td>
					<td>ul. Alfonsa 21a Warszawa</td>
				</tr>
				<tr>
					<td>Nr rachunku </td>
					<td>67 1140 2004 0000 3302 7064 9283</td>
				</tr>
			</table>
		</div>
		{% block wallet_history %}
		{% endblock %}
	</div>
	<script type="text/javascript" src="static/javascript/fun_wallet.js"></script>
{% endblock %}